.bannerText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.petDiv {
    padding-left: 20px;
    justify-content: center;
}

.cardDiv {
    
    width: 280px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.bannerRow {
    padding-bottom: 75px;
}

.alertDiv {
    padding-left: 20px;
    padding-right: 20px;
}

.yourPostCard {
    padding-top: 20px;
}

.cardComment {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.image {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
